.recipeForm{
width:90%;
margin-left:10px
}
.form-cat{
    display: flex;
  
}
.recipe-ingredient-form{
    width:20%;
    margin-left:10px
}

.photoimg {
    height: 200px;
    width: 400px;
    overflow: hidden;
    display: inline-flex;
}

.intable {
    width:90%;
    margin-left: 40px;
}